<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="page-header">
                <h3>管理系统 <small>首页</small></h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p class="bg-primary">欢迎欢迎</p>
        <p class="bg-success">欢迎欢迎</p>
        <p class="bg-info">欢迎欢迎</p>
        <p class="bg-warning">欢迎欢迎</p>
        <p class="bg-danger">欢迎欢迎</p>
    </div>
    <div class="panel-footer">Panel footer</div>
</div>