<!-- Left side column. contains the sidebar -->

	 <!-- <ul class="list-group">
	    <li class="list-group-item" ng-class="{'active': menuActive == 'app'}"><strong><a data-ui-sref="app">HEADER</a></strong></li>
	    <li class="list-group-item" ng-class="{'active': menuActive == 'app.userList'}"><a data-ui-sref="app.userList">管理员列表</a></li>
	    <li class="list-group-item" ng-class="{'active': menuActive == 'app.userAdd'}"><a data-ui-sref="app.userAdd">管理员添加</a></li>
		<li class="list-group-item" ng-class="{'active': menuActive == 'app.groupList'}"><a class="btn btn-lg" data-ui-sref="app.groupList">管理组列表</a></li>
	    <li class="list-group-item" ng-class="{'active': menuActive == 'app.page'}"><a data-ui-sref="app.page">test</a></li>
	</ul> -->

<div class="list-group">
	<a href data-ui-sref="app" class="list-group-item" ng-class="{'active': menuActive == 'app'}">HEADER</a>
	<a href data-ui-sref="app.userList" class="list-group-item" ng-class="{'active': menuActive == 'app.userList'}">管理员列表</a>
	<a href data-ui-sref="app.userAdd" class="list-group-item" ng-class="{'active': menuActive == 'app.userAdd'}">管理员添加</a>
	<a href data-ui-sref="app.groupList" class="list-group-item" ng-class="{'active': menuActive == 'app.groupList'}">管理组列表</a>
</div>
