<div class="panel panel-default" ng-controller="userAddController">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="page-header">
                <h3>管理员添加 </h3>
            </div>
            <ol class="breadcrumb text-right" style="font-size: 14px;margin:0;padding:0">
                <li><a data-ui-sref="app">首页</a></li>
                <li class="active">管理员添加</li>
            </ol>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="userAddForm" novalidate>
            <div class="form-group">
                <label for="username" class="col-sm-1 control-label">Username</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" id="username" name="username" ng-model="data.username" placeholder="Username" required minlength=2>
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="col-sm-1 control-label">Email</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" id="Email" name="email" ng-model="data.email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-sm-1 control-label">Password</label>
                <div class="col-sm-11">
                    <input type="password" class="form-control" id="Password" name="password" ng-model="data.password" placeholder="Password" required minlength=6>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-sm-1 control-label">管理组</label>
                <div class="col-sm-11">
                    <select class="form-control" name="group" ng-model="data.group" required>
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <!--<input type="password" class="form-control" id="group" name="group" ng-model="data.group" placeholder="Password" required minlength=6>-->
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label class="col-sm-1 control-label text-left">管理组</label>-->
                <!--<div class="col-sm-11">-->

                    <!--<ui-select ng-model="person.selected" theme="bootstrap">-->
                        <!--<ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>-->
                        <!--<ui-select-choices repeat="item in people | filter: $select.search">-->
                            <!--<div ng-bind-html="item.name | highlight: $select.search"></div>-->
                            <!--<small ng-bind-html="item.email | highlight: $select.search"></small>-->
                        <!--</ui-select-choices>-->
                    <!--</ui-select>-->

                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-11">
                    <p style="color:red" ng-show="userAddForm.username.$dirty || userAddForm.email.$dirty || userAddForm.password.$dirty">
                        <span ng-show="userAddForm.username.$error.minlength">用户名长度不能小于2位</span>
                        <span ng-show="userAddForm.password.$error.minlength">密码长度不能小于6位</span>
                        <span ng-show="userAddForm.email.$error.email">请输入正确的邮箱地址</span>
                        <!--<span ng-show="userAddForm.group.$error.required">请选择管理组</span>-->
                        <span ng-if="error" style="color:red">{{error}}</span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="button" class="btn m-b-xs w-xs btn-primary" ng-click="addUser()" ng-disabled="userAddForm.$invalid">注册</button>
                </div>

            </div>
        </form>
    </div>
    <div class="panel-footer"><p>{{data | json}}</p></div>
</div>