<div class="container" style="margin-top: 100px;" ng-controller="loginController">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <ng-form class="form-signin" novalidate name="loginForm">
                <h2 class="form-signin-heading" style="text-align: center"><strong>Angularjs后台登录</strong></h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" ng-model="loginInfo.email"  autofocus required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" ng-model="loginInfo.password" ng-minlength=6 placeholder="Password" required>
                <div class="checkbox">
                  <label class="i-checks">
                    <input type="checkbox" checked><i></i> Remember me
                  </label>
                </div>

                <button type="button" class="btn btn-lg btn-primary  btn-block" ng-click="login()"  ng-disabled="loginForm.$invalid">Sign in</button>
                
                 <p class="text-center" ng-show="loginForm.email.$dirty || loginForm.password.$dirty ">
                    <span ng-show="loginForm.password.$error.minlength" class="text-danger">密码长度不能小于6位</span>
                    <span ng-show="loginForm.email.$error.email" class="text-danger">请输入正确的邮箱地址</span>
                    <span ng-if="error" class="text-danger">{{error}}</span>
                </p>
            </ng-form>
        </div>
    </div>


</div> <!-- /container -->